* {
  margin: 0;
  box-sizing: border-box;
  font-size: 33px;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

body {
  min-height: 100svh;
  font-family: "Agdasima", sans-serif;
}

.dropdown-form {
  margin-right: 15%;
}

.dropdown {
  background-color: #4b4b4b;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}